#gameBlock {
    width: 500px;
    height: 305px;
    border-radius: 10px;
}

#gameStatus {
    width: 195px;
    height: 305px;
    border-radius: 10px;
    float: right;
}

#playerTurn {
    height: 50px;
    background-color: black;
}

#playerIcon {
    float: left;
    position: relative;
    margin-top: 15px;
    margin-left: 52px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#playerTurnText {
    position: relative;
    color: white;
    text-align: center;
    line-height: 50px;
}

#history {
    width: inherit;
    height: 210px;
    background-color: #000000e3;
    border-radius: 10px;
}

#score {
    height: 70px;
    border: solid 2px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#xScore {
    background: url(images/smallX.png);
    background-repeat: no-repeat;
    background-position-y: center;
    width: 85px;
    border-right: solid 1px black;
}

#oScore {
    background: url(images/smallO.png);
    background-repeat: no-repeat;
    background-position-y: center;
    width: 85px;
}

.score {
    float: left;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

#winsAndTies {
    height: 132px;
    border: solid 2px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#restartGameButton {
    height: 45px;
    background-color: #02441fe8;
    text-align: center;
    color: navajowhite;
    line-height: 45px;
}

#restartGameButton:hover {
    cursor: pointer;
    width: inherit;
    color: white;
}

#restartGameButton:hover {
    cursor:pointer;
    width: inherit;
    border-radius: 10px;
}
#restartGameButton:active {
    cursor:pointer;
    width: inherit;
    border-radius: 10px;
    background-color: darkslategrey;
}

#game {
    background-color: #401a67;
    border-spacing: 5px;
    border-radius: 10px;
}

.gameSquares {
    width: 93px;
    height: 93px;
    background-color: #601c9e;
    border-radius: 10px;
}

.selectedGameSquares {
    width: 93px;
    height: 93px;
    background-color: #601c9e;
    border-radius: 10px;
}

.textStyle {
    width: inherit;
    border-radius: 10px;
    font-size: 20px;
    font-family: monospace;
}

.inGameStyle {
    float: left;
    margin-left: 16px;
}

.buttonStyle {
    width: inherit;
    border-radius: 10px;
    font-size: 20px;
    font-family: monospace;
}